apiVersion: apps/v1
kind: Deployment
metadata:
  name: test
  labels:
    label0: {{ .Values.applicationGroupDisplayName }}
    label1: {{ .Values.applicationGroupName }}
    label2: {{ index .Values.developersList 0 }}
    label3: {{ index .Values.permissions 0 }}
    label4: {{ .Values.policyPrApprovers }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: test
  template:
    metadata:
      labels:
        app: test
    spec:
      containers:
      - name: test
        image: nginx:1.16.0
        ports:
        - containerPort: 80
